.nav {
  ul {
    display: flex;
    flex-direction: row;
  }
  li {
    margin-left: 20px;
    font-size: 20px;

    a {
      &:hover {
        color: var(--second-color);
        cursor: pointer;
        transition: 0.3s all ease;
      }
    }
  }

  @media (min-width: 768px) {
    li {
      font-size: 25px;
    }
  }
}

.counter {
  position: relative;

  b {
    position: absolute;
    top: -11px;
    right: -14px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 9px;
    background-color: #997878;
    border-radius: 50px;
  }
}

.nav_sign_out {
  cursor: pointer;

  &:hover {
    color: var(--second-color);
    cursor: pointer;
    transition: 0.3s all ease;
  }
}
